In [ ]:
# list: [23, 76,250,30, 44]
# pair of elements whose sum is maximum

In [1]:
lst = [23, 76,250,30, 44]
lst

[23, 76, 250, 30, 44]

In [ ]:
# find max and sencond max
max = -1000
second_max = -800
for item in lst:
    if item >  max:
        max = item
    # if item > second_max:
    #     second_max = item

In [8]:
# find max and sencond max
max = -1000
second_max = -800
for item in lst:
    if item >  max:
        max = item
    # if item > second_max:
    #     second_max = item 

for item in lst:
    if second_max <  item and item != max:
        second_max = item


max, second_max

(250, 76)

In [9]:
# department
# employee
# third highest salary

In [ ]:
select 
employee,
department,
salary
from
(
select 
employee,
department,
salary
dense_rank() over (partition by department order by salary desc) rnk
from 
office
) sub
where rnk=3

In [ ]:
what are slowly changing dimensions?

In [ ]:
what s3 select?