Given a string containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

In [ ]:
# count of opening should be euawl
opening = ['(', '{', '[']
closing = [')' , '}', ']']
s = "{[(])]}"

# check if the innermost is closed first
for char in s:

In [8]:
a = [1]
if a: print("Fsadf")

Fsadf

In [4]:
def is_valid(s):
    stack = []
    mapping = {')': '(', '}': '{', ']': '['}

    for char in s:
        if char in mapping:
            top_element = stack.pop() if stack else '#'
            if mapping[char] != top_element:
                return False
        else:
            stack.append(char)

    return not stack

# Example usage:
input_string = "({[()]})"
result = is_valid(input_string)
print(result)

True

In [3]:
a = ['f','g','t']
a.pop()

't'

In [1]:
s= "apple"
s[::-1]

'elppa'

In [ ]:
# eid, did, salary

In [ ]:
select 
did,
case when salary is null then max_salary else salary end 
from
(select
 did,
salary,
max(salary) over(partition by did order by salary  desc) max_salary
row_number() over (partition by did order by salary  desc) rn 
from office
) sub
where rn = 3

In [ ]:
# spark architecture

yearwisescores
playerId, YearMonth, Score
1    , 2005-12, 85
2    , 2007-11, 70
1    , 2005-10, 80
3    , 2003-10, 30
1    , 2007-11, 70

Player Name 2005   2007   2001 
Kohli     85,30  7