In [1]:
from pyspark.sql import SparkSession

spark=SparkSession. \
        builder. \
        master("local[5]"). \
        appName("rdd tutorial"). \
        config("inferSchema" , "True"). \
        getOrCreate()

# spark.conf.set("spark.sql.shuffle.partitions", "1000")
# spark.conf.set("spark.default.parallelism", "1000")

Warning: Ignoring non-Spark config property: inferSchema
24/01/12 12:14:13 WARN Utils: Your hostname, navneetsajwan-ThinkPad-L480 resolves to a loopback address: 127.0.1.1; using 192.168.0.149 instead (on interface enp0s31f6)
24/01/12 12:14:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/navneetsajwan/miniconda3/envs/spark/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/12 12:14:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

## notes rdd how its work
https://sparkbyexamples.com/pyspark-rdd/

In [5]:
sc = spark.sparkContext

In [6]:
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=sc.parallelize(data)

In [7]:
for item in rdd.collect():
    print(item,"")

1
2
3
4
5
6
7
8
9
10
11
12

## read data from Text file

In [10]:
input_file=sc.textFile('/media/navneetsajwan/New Volume2/Data Engineering/Interview Prep stuff/spark_tutorial/imp_question.md')

In [15]:
type(input_file)

pyspark.rdd.RDD

In [ ]:
input_file.collect()

### Create empty RDD with partition

In [18]:
rdd2 = spark.sparkContext.parallelize([],4) #This creates 10 partitions
rdd2

# ParallelCollectionRDD[8] at readRDDFromFile at PythonRDD.scala:274
 # 8 here reperesents the count/index of the RDDs in our spark instance

ParallelCollectionRDD[9] at readRDDFromFile at PythonRDD.scala:274

In [19]:
rdd2.getNumPartitions()

4

## read data from dir

In [20]:
input_file=sc.textFile('../resources/*')

In [21]:
for item in input_file.collect():
    print(item)
    print("--------------------")

Explanation of all PySpark RDD, DataFrame and SQL examples present on this project are available at [Apache PySpark Tutorial](https://sparkbyexamples.com/pyspark-tutorial/), All these examples are coded in Python language and tested in our development environment.
--------------------

--------------------
# Table of Contents (Spark Examples in Python)
--------------------

--------------------
# PySpark Basic Examples
--------------------
- [How to create SparkSession](https://sparkbyexamples.com/pyspark/pyspark-what-is-sparksession/)
--------------------
- [PySpark – Accumulator](https://sparkbyexamples.com/pyspark/pyspark-accumulator-with-example/)
--------------------
- [PySpark Repartition vs Coalesce](https://sparkbyexamples.com/pyspark/pyspark-repartition-vs-coalesce/)
--------------------
- [PySpark Broadcast variables](https://sparkbyexamples.com/pyspark/pyspark-broadcast-variables/)
--------------------
- [PySpark – repartition() vs coalesce()](https://sparkbyexamples.com/pyspark/pyspark-repartition-vs-coalesce/)
--------------------
- [PySpark – Parallelize](https://sparkbyexamples.com/pyspark/pyspark-parallelize-create-rdd/)
--------------------
- [PySpark – RDD](https://sparkbyexamples.com/pyspark-rdd)
--------------------
- [PySpark – Web/Application UI](https://sparkbyexamples.com/spark/spark-web-ui-understanding/)
--------------------
- [PySpark – SparkSession](https://sparkbyexamples.com/pyspark/pyspark-what-is-sparksession/)
--------------------
- [PySpark – Cluster Managers](https://sparkbyexamples.com/pyspark-tutorial/#cluster-manager)
--------------------
- [PySpark – Install on Windows](https://sparkbyexamples.com/pyspark-tutorial/#pyspark-installation)
--------------------
- [PySpark – Modules & Packages](https://sparkbyexamples.com/pyspark-tutorial/#modules-packages)
--------------------
- [PySpark – Advantages](https://sparkbyexamples.com/pyspark-tutorial/#advantages)
--------------------
- [PySpark – Features](https://sparkbyexamples.com/pyspark-tutorial/#features)
--------------------
- [PySpark – What is it? & Who uses it?](https://sparkbyexamples.com/pyspark/what-is-pyspark-and-who-uses-it/)
--------------------

--------------------

--------------------
## PySpark DataFrame Examples
--------------------
- [PySpark – Create a DataFrame](https://sparkbyexamples.com/pyspark/different-ways-to-create-dataframe-in-pyspark/)
--------------------
- [PySpark – Create an empty DataFrame](https://sparkbyexamples.com/pyspark/pyspark-create-an-empty-dataframe/)
--------------------
- [PySpark – Convert RDD to DataFrame](https://sparkbyexamples.com/pyspark/convert-pyspark-rdd-to-dataframe/)
--------------------
- [PySpark – Convert DataFrame to Pandas](https://sparkbyexamples.com/pyspark/convert-pyspark-dataframe-to-pandas/)
--------------------
- [PySpark – StructType & StructField](https://sparkbyexamples.com/pyspark/pyspark-structtype-and-structfield/)
--------------------
- [PySpark Row using on DataFrame and RDD](https://sparkbyexamples.com/pyspark/pyspark-row-using-rdd-dataframe/)
--------------------
- [Select columns from PySpark DataFrame ](https://sparkbyexamples.com/pyspark/select-columns-from-pyspark-dataframe/)
--------------------
- [PySpark Collect() – Retrieve data from DataFrame](https://sparkbyexamples.com/pyspark/pyspark-collect/)
--------------------
- [PySpark withColumn to update or add a column](https://sparkbyexamples.com/pyspark/pyspark-withcolumn/)
--------------------
- [PySpark using where filter function ](https://sparkbyexamples.com/pyspark/pyspark-where-filter/)
--------------------
- [PySpark – Distinct to drop duplicate rows ](https://sparkbyexamples.com/pyspark/pyspark-distinct-to-drop-duplicates/)
--------------------
- [ PySpark orderBy() and sort() explained](https://sparkbyexamples.com/pyspark/pyspark-orderby-and-sort-explained/)
--------------------
- [PySpark Groupby Explained with Example](https://sparkbyexamples.com/pyspark/pyspark-groupby-explained-with-example/)
--------------------
- [PySpark Join Types Explained with Examples](https://sparkbyexamples.com/pyspark/pyspark-join/)
--------------------
- [PySpark Union and UnionAll Explained](https://sparkbyexamples.com/pyspark/pyspark-union-and-unionall/)
--------------------
- [PySpark UDF (User Defined Function)](https://sparkbyexamples.com/pyspark/pyspark-udf-user-defined-function/)
--------------------
- [PySpark flatMap() Transformation](https://sparkbyexamples.com/pyspark/pyspark-flatmap-transformation/)
--------------------
- [PySpark map Transformation](https://sparkbyexamples.com/pyspark/pyspark-map-transformation/)
--------------------

--------------------

--------------------
## PySpark SQL Functions
--------------------
- [PySpark Aggregate Functions with Examples](https://sparkbyexamples.com/pyspark/pyspark-aggregate-functions/)
--------------------
- [PySpark Window Functions](https://sparkbyexamples.com/pyspark/pyspark-window-functions/)
--------------------

--------------------

--------------------
## PySpark Datasources
--------------------
- [PySpark Read CSV file into DataFrame](https://sparkbyexamples.com/pyspark/pyspark-read-csv-file-into-dataframe/)
--------------------
- [PySpark read and write Parquet File ](https://sparkbyexamples.com/pyspark/pyspark-read-and-write-parquet-file/)
--------------------

--------------------
# -*- coding: utf-8 -*-
--------------------
"""
--------------------
author SparkByExamples.com
--------------------
"""
--------------------

--------------------
from pyspark.sql import SparkSession
--------------------
spark = SparkSession.builder.master("local[1]") \
--------------------
                    .appName('SparkByExamples.com') \
--------------------
                    .getOrCreate()
--------------------

--------------------
data = [("James","Smith","USA","CA"),("Michael","Rose","USA","NY"), \
--------------------
    ("Robert","Williams","USA","CA"),("Maria","Jones","USA","FL") \
--------------------
  ]
--------------------
columns=["firstname","lastname","country","state"]
--------------------
df=spark.createDataFrame(data=data,schema=columns)
--------------------
df.show()
--------------------
print(df.collect())
--------------------

--------------------
states1=df.rdd.map(lambda x: x[3]).collect()
--------------------
print(states1)
--------------------
#['CA', 'NY', 'CA', 'FL']
--------------------
from collections import OrderedDict
--------------------
res = list(OrderedDict.fromkeys(states1))
--------------------
print(res)
--------------------
#['CA', 'NY', 'FL']
--------------------

--------------------

--------------------
#Example 2
--------------------
states2=df.rdd.map(lambda x: x.state).collect()
--------------------
print(states2)
--------------------
#['CA', 'NY', 'CA', 'FL']
--------------------

--------------------
states3=df.select(df.state).collect()
--------------------
print(states3)
--------------------
#[Row(state='CA'), Row(state='NY'), Row(state='CA'), Row(state='FL')]
--------------------

--------------------
states4=df.select(df.state).rdd.flatMap(lambda x: x).collect()
--------------------
print(states4)
--------------------
#['CA', 'NY', 'CA', 'FL']
--------------------

--------------------
states5=df.select(df.state).toPandas()['state']
--------------------
states6=list(states5)
--------------------
print(states6)
--------------------
#['CA', 'NY', 'CA', 'FL']
--------------------

--------------------
pandDF=df.select(df.state,df.firstname).toPandas()
--------------------
print(list(pandDF['state']))
--------------------
print(list(pandDF['firstname']))
--------------------
# -*- coding: utf-8 -*-
--------------------
"""
--------------------
Created on Thu Oct 24 22:42:50 2019
--------------------

--------------------
@author: prabha
--------------------
"""
--------------------

--------------------
import pyspark
--------------------
from pyspark.sql import SparkSession
--------------------
from pyspark.sql.functions import col
--------------------
from pyspark.sql.functions import to_timestamp, current_timestamp
--------------------
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType
--------------------

--------------------
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
--------------------

--------------------
schema = StructType([
--------------------
            StructField("seq", StringType(), True)])
--------------------

--------------------
dates = ['1']
--------------------

--------------------
df = spark.createDataFrame(list('1'), schema=schema)
--------------------

--------------------
df.show()
--------------------
# -*- coding: utf-8 -*-
--------------------
"""
--------------------
author SparkByExamples.com
--------------------
"""
--------------------

--------------------
import pandas as pd
--------------------
data = [['Scott', 50], ['Jeff', 45], ['Thomas', 54],['Ann',34]]
--------------------

--------------------
# Create the pandas DataFrame
--------------------
pandasDF = pd.DataFrame(data, columns = ['Name', 'Age'])
--------------------

--------------------
# print dataframe.
--------------------
print(pandasDF)
--------------------

--------------------
from pyspark.sql import SparkSession
--------------------

--------------------
spark = SparkSession.builder \
--------------------
    .master("local[1]") \
--------------------
    .appName("SparkByExamples.com") \
--------------------
    .getOrCreate()
--------------------

--------------------
sparkDF=spark.createDataFrame(pandasDF)
--------------------
sparkDF.printSchema()
--------------------
sparkDF.show()
--------------------

--------------------
#sparkDF=spark.createDataFrame(pandasDF.astype(str))
--------------------
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
--------------------
mySchema = StructType([ StructField("First Name", StringType(), True)\
--------------------
                       ,StructField("Age", IntegerType(), True)])
--------------------

--------------------
sparkDF2 = spark.createDataFrame(pandasDF,schema=mySchema)
--------------------
sparkDF2.printSchema()
--------------------
sparkDF2.show()
--------------------

--------------------

--------------------
spark.conf.set("spark.sql.execution.arrow.enabled","true")
--------------------
spark.conf.set("spark.sql.execution.arrow.pyspark.fallback.enabled","true")
--------------------

--------------------
pandasDF2=sparkDF2.select("*").toPandas
--------------------
print(pandasDF2)
--------------------

--------------------

--------------------
test=spark.conf.get("spark.sql.execution.arrow.enabled")
--------------------
print(test)
--------------------

--------------------
test123=spark.conf.get("spark.sql.execution.arrow.pyspark.fallback.enabled")
--------------------
print(test123)
--------------------
# -*- coding: utf-8 -*-
--------------------
"""
--------------------
author SparkByExamples.com
--------------------
"""
--------------------
from pyspark.sql import SparkSession
--------------------
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
--------------------

--------------------
from pyspark.sql.functions import col,expr
--------------------
data=[("2019-01-23",1),("2019-06-24",2),("2019-09-20",3)]
--------------------
spark.createDataFrame(data).toDF("date","increment") \
--------------------
    .select(col("date"),col("increment"), \
--------------------
      expr("add_months(to_date(date,'yyyy-MM-dd'),cast(increment as int))").alias("inc_date")) \
--------------------
    .show()
--------------------
# -*- coding: utf-8 -*-
--------------------
"""
--------------------
author SparkByExamples.com
--------------------
"""
--------------------

--------------------
from pyspark.sql import SparkSession
--------------------

--------------------
spark = SparkSession.builder \
--------------------
                    .appName('SparkByExamples.com') \
--------------------
                    .getOrCreate()
--------------------

--------------------
data = [('James','Smith','M',3000),
--------------------
  ('Anna','Rose','F',4100),
--------------------
  ('Robert','Williams','M',6200),
--------------------
]
--------------------

--------------------
columns = ["firstname","lastname","gender","salary"]
--------------------
df = spark.createDataFrame(data=data, schema = columns)
--------------------
df.show()
--------------------

--------------------

--------------------
if 'salary1' not in df.columns:
--------------------
    print("aa")
--------------------

--------------------
# Add new constanct column
--------------------
from pyspark.sql.functions import lit
--------------------
df.withColumn("bonus_percent", lit(0.3)) \
--------------------
  .show()
--------------------

--------------------
#Add column from existing column
--------------------
df.withColumn("bonus_amount", df.salary*0.3) \
--------------------
  .show()
--------------------

--------------------
#Add column by concatinating existing columns
--------------------
from pyspark.sql.functions import concat_ws
--------------------
df.withColumn("name", concat_ws(",","firstname",'lastname')) \
--------------------
  .show()
--------------------

--------------------
#Add current date
--------------------
from pyspark.sql.functions import current_date
--------------------
df.withColumn("current_date", current_date()) \
--------------------
  .show()
--------------------

--------------------

--------------------
from pyspark.sql.functions import when
--------------------
df.withColumn("grade", \
--------------------
   when((df.salary < 4000), lit("A")) \
--------------------
     .when((df.salary >= 4000) & (df.salary <= 5000), lit("B")) \
--------------------
     .otherwise(lit("C")) \
--------------------
  ).show()
--------------------

--------------------
# Add column using select
--------------------
df.select("firstname","salary", lit(0.3).alias("bonus")).show()
--------------------
df.select("firstname","salary", lit(df.salary * 0.3).alias("bonus_amount")).show()
--------------------
df.select("firstname","salary", current_date().alias("today_date")).show()
--------------------

--------------------
#Add columns using SQL
--------------------
df.createOrReplaceTempView("PER")
--------------------
spark.sql("select firstname,salary, '0.3' as bonus from PER").show()
--------------------
spark.sql("select firstname,salary, salary * 0.3 as bonus_amount from PER").show()
--------------------
spark.sql("select firstname,salary, current_date() as today_date from PER").show()
--------------------
spark.sql("select firstname,salary, " +
--------------------
          "case salary when salary < 4000 then 'A' "+
--------------------
          "else 'B' END as grade from PER").show()
--------------------

--------------------

--------------------

--------------------

--------------------

--------------------
# -*- coding: utf-8 -*-
--------------------
"""
--------------------
Created on Sun Jun 14 10:20:19 2020
--------------------

--------------------
@author: prabha
--------------------
"""
--------------------

--------------------
import pyspark
--------------------
from pyspark.sql import SparkSession
--------------------
from pyspark.sql.functions import approx_count_distinct,collect_list
--------------------
from pyspark.sql.functions import collect_set,sum,avg,max,countDistinct,count
--------------------
from pyspark.sql.functions import first, last, kurtosis, min, mean, skewness
--------------------
from pyspark.sql.functions import stddev, stddev_samp, stddev_pop, sumDistinct
--------------------
from pyspark.sql.functions import variance,var_samp,  var_pop
--------------------

--------------------
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
--------------------

--------------------
simpleData = [("James", "Sales", 3000),
--------------------
    ("Michael", "Sales", 4600),
--------------------
    ("Robert", "Sales", 4100),
--------------------
    ("Maria", "Finance", 3000),
--------------------
    ("James", "Sales", 3000),
--------------------
    ("Scott", "Finance", 3300),
--------------------
    ("Jen", "Finance", 3900),
--------------------
    ("Jeff", "Marketing", 3000),
--------------------
    ("Kumar", "Marketing", 2000),
--------------------
    ("Saif", "Sales", 4100)
--------------------
  ]
--------------------
schema = ["employee_name", "department", "salary"]
--------------------

--------------------

--------------------
df = spark.createDataFrame(data=simpleData, schema = schema)
--------------------
df.printSchema()
--------------------
df.show(truncate=False)
--------------------

--------------------
print("approx_count_distinct: " + \
--------------------
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))
--------------------

--------------------
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))
--------------------

--------------------
df.select(collect_list("salary")).show(truncate=False)
--------------------

--------------------
df.select(collect_set("salary")).show(truncate=False)
--------------------

--------------------
df2 = df.select(countDistinct("department", "salary"))
--------------------
df2.show(truncate=False)
--------------------
print("Distinct Count of Department &amp; Salary: "+str(df2.collect()[0][0]))
--------------------

--------------------
print("count: "+str(df.select(count("salary")).collect()[0]))
--------------------
df.select(first("salary")).show(truncate=False)
--------------------
df.select(last("salary")).show(truncate=False)
--------------------
df.select(kurtosis("salary")).show(truncate=False)
--------------------
df.select(max("salary")).show(truncate=False)
--------------------
df.select(min("salary")).show(truncate=False)
--------------------
df.select(mean("salary")).show(truncate=False)
--------------------
df.select(skewness("salary")).show(truncate=False)
--------------------
df.select(stddev("salary"), stddev_samp("salary"), \
--------------------
    stddev_pop("salary")).show(truncate=False)
--------------------
df.select(sum("salary")).show(truncate=False)
--------------------
df.select(sumDistinct("salary")).show(truncate=False)
--------------------
df.select(variance("salary"),var_samp("salary"),var_pop("salary")) \
--------------------
  .show(truncate=False)
--------------------
# -*- coding: utf-8 -*-
--------------------
"""
--------------------
author SparkByExamples.com
--------------------
"""
--------------------

--------------------
import pyspark
--------------------
from pyspark.sql import SparkSession
--------------------
spark = SparkSession.builder.master("local[1]") \
--------------------
                    .appName('SparkByExamples.com') \
--------------------
                    .getOrCreate()
--------------------

--------------------
columns = ["name","languagesAtSchool","currentState"]
--------------------
data = [("James,,Smith",["Java","Scala","C++"],"CA"), \
--------------------
    ("Michael,Rose,",["Spark","Java","C++"],"NJ"), \
--------------------
    ("Robert,,Williams",["CSharp","VB"],"NV")]
--------------------

--------------------
df = spark.createDataFrame(data=data,schema=columns)
--------------------
df.printSchema()
--------------------
df.show(truncate=False)
--------------------

--------------------
from pyspark.sql.functions import col, concat_ws
--------------------
df2 = df.withColumn("languagesAtSchool",
--------------------
   concat_ws(",",col("languagesAtSchool")))
--------------------
df2.printSchema()
--------------------
df2.show(truncate=False)
--------------------

--------------------

--------------------
df.createOrReplaceTempView("ARRAY_STRING")
--------------------
spark.sql("select name, concat_ws(',',languagesAtSchool) as languagesAtSchool," + \
--------------------
    " currentState from ARRAY_STRING") \

In [22]:
## read text file into df
df=spark.read.text("../data/cover_letter.txt")


# difference bw creating a dataframe vs rdd from a file
# dataframe <-- spark.read("location")
# rdd <-- sc.textFile("location")

In [23]:
df.limit(2).toPandas()

                                               value
0  Presently a Data Engineer with more than 2 yea...
1

## Spark RDD Transformations with examples

In [24]:
rdd=sc.textFile("../data/test.txt")

In [25]:
rdd.first()

'Project Gutenberg’s'

## flatMap(), map(), filter(), reducebykey Transformation

In [42]:
rdd1=rdd.map(lambda x:x.split(" "))
rdd1.collect()

In [43]:
rdd1=rdd.flatMap(lambda x:x.split(" "))
rdd1.collect()

['Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Project',
 'Gutenberg’s',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'Alice’s',
 'Adventures',
 'in',
 'Wonderland',
 'by',
 'Lewis',
 'Carroll',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with',
 'This',
 'eBook',
 'is',
 'for',
 'the',
 'use',
 'of',
 'anyone',
 'anywhere',
 'at',
 'no',
 'cost',
 'and',
 'with']

In [31]:
rdd2=rdd1.filter(lambda x:x.startswith("a"))
rdd2.collect()

['anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and',
 'anyone',
 'anywhere',
 'at',
 'and']

In [39]:
rdd3=rdd2.map(lambda x:(x,1))
rdd3.collect()

[('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1),
 ('anyone', 1),
 ('anywhere', 1),
 ('at', 1),
 ('and', 1)]

In [35]:
rdd3.first()

('anyone', 1)

In [37]:
#now perform reduceBykey
rdd4=rdd3.reduceByKey(lambda x,y:x+y)
rdd4.collect()

# how reduceByKey works:

# It groups the data by keys, so all the values associated with a particular key are grouped together.
# For each group of values with the same key, it applies the provided lambda function to reduce (aggregate) them to a single value.

[('anyone', 27), ('anywhere', 27), ('at', 27), ('and', 27)]

In [38]:
rdd4.sortByKey().collect()

[('and', 27), ('anyone', 27), ('anywhere', 27), ('at', 27)]

## Spark RDD Actions with examples

In [44]:
inputRDD = sc.parallelize([("Z", 1),("A", 20),("B", 30),("C", 40),("B", 30),("B", 60)],3)
listRdd = sc.parallelize([1,2,3,4,5,3,2])

In [47]:
## reduce
inputRDD.reduceByKey(lambda x,y:x+y).collect()

# alternative
# from operator import add
# inputRDD.reduceByKey(add).collect()

[('B', 120), ('C', 40), ('A', 20), ('Z', 1)]

In [50]:
listRdd.reduce(lambda x,y:x+y)
# doesn't return a rdd

20

In [52]:
add = lambda x, y: x + y
rdd = sc.parallelize([-5, -4, -3, -2, -1, 1, 2, 3, 4], 10)  # last 10 is the number of partitions
rdd.treeAggregate(0, add, add)

#TBD

-5

In [54]:
rdd.count()

9

In [59]:
sc.parallelize([1, 2, 1, 2, 2], 2).countByValue().items()

dict_items([(1, 2), (2, 3)])

In [60]:
sorted(sc.parallelize([1, 2, 1, 2, 2], 2).countByValue().items())

[(1, 2), (2, 3)]

## Spark Repartition() vs Coalesce()

In [61]:
rdd1 = sc.parallelize(range(0,25), 6)
print("Repartition : ",rdd1.getNumPartitions())

Repartition :  6

In [62]:
rdd2=rdd1.repartition(4)
print("Repartition : ",rdd2.getNumPartitions())

Repartition :  4

In [63]:
rdd3=rdd2.coalesce(3)
print("coalesce : ",rdd3.getNumPartitions())

coalesce :  3

## spark suffling and partitions
https://sparkbyexamples.com/spark/spark-shuffle-partitions/ <br>

Based on your dataset size, number of cores, and memory, Spark shuffling can benefit or harm your jobs. When you dealing with less amount of data, you should typically reduce the shuffle partitions otherwise you will end up with many partitioned files with a fewer number of records in each partition. which results in running many tasks with lesser data to process.

On other hand, when you have too much of data and having less number of partitions results in fewer longer running tasks and some times you may also get out of memory error.

Getting a right size of the shuffle partition is always tricky and takes many runs with different value to achieve the optimized number. This is one of the key property to look for when you have performance issues on Spark jobs.

In [64]:
from pyspark.sql.functions import sum,avg,max,min,mean,count,desc
from pyspark.sql.types import *

simpleData = [
    ("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
    ]

column=["employee_name","department","state","salary","age","bonus"]


df=spark.createDataFrame(data=simpleData,schema=column)

In [65]:
df.show(2)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+
only showing top 2 rows

In [66]:
print("before applying action partitions=",df.rdd.getNumPartitions())

before applying action partitions= 5

In [137]:
#applying some group by action
# df2=df.groupBy(df.department).agg(sum('salary').alias("total_salary")).orderBy(desc('total_salary')).show()
df2=df.groupBy(df.department).sum('salary').orderBy(desc(sum('salary'))).withColumnRenamed('sum(salary)','total_salary')
df2.show()

+----------+------------+
|department|total_salary|
+----------+------------+
|   Finance|      351000|
|     Sales|      257000|
| Marketing|      171000|
+----------+------------+

In [138]:
print("df1 partition=",df.rdd.getNumPartitions())

df1 partition= 5

In [139]:
print("df2 partition=",df2.rdd.getNumPartitions())

df2 partition= 1

## spark.default.parallelism vs spark.sql.shuffle.partitions
https://www.learntospark.com/2020/05/persist-and-cache-in-apache-spark.html <br>
<spark.default.parallelism > was introduced with RDD hence this property is only applicable to RDD. <br>
The default value for this configuration set to the number of all cores on all nodes in a cluster, <br>
on local, it is set to the number of cores on your system.


DataFrame: Whereas < spark.sql.shuffle.partitions > was introduced with DataFrame and <br>
it only works with DataFrame, the default value for this configuration set to 200

In [143]:
spark.conf.set("spark.sql.shuffle.partitions", "1000")
spark.conf.set("spark.default.parallelism", "1000")

## Spark – Difference between Cache and Persist?

Using cache() and persist() methods, Spark provides an optimization mechanism to store the intermediate computation of an RDD, DataFrame, and Dataset so they can be reused in subsequent actions(reusing the RDD, Dataframe, and Dataset computation result’s).

Both caching and persisting are used to save the Spark RDD, Dataframe, and Dataset’s. But, the difference is, RDD cache() method default saves it to memory (MEMORY_ONLY) whereas persist() method is used to store it to the user-defined storage level.

In [157]:
# Example:
"""
Let us consider the input data as csv file, and we need to read the data as dataframe and 
use cache on top of df.


Syntax:
#cache RDD to store data in MEMORY_ONLY
rdd.cache()

#cache DF to store data in MEMORY_ONLY
df.cache()
"""

'\nLet us consider the input data as csv file, and we need to read the data as dataframe and \nuse cache on top of df.\n\n\n\nSyntax:\n#cache RDD to store data in MEMORY_ONLY\nrdd.cache()\n\n#cache DF to store data in MEMORY_ONLY\ndf.cache()\n'

In [67]:
df=spark.read.csv("../data/simple-zipcodes.csv",header=True,inferSchema=True)

In [68]:
df.show(2)

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|               City|Zipcode|State|
+------------+-------+-------------------+-------+-----+
|           1|     US|        PARC PARQUE|    704|   PR|
|           2|     US|PASEO COSTA DEL SUR|    704|   PR|
+------------+-------+-------------------+-------+-----+
only showing top 2 rows

In [69]:
df.storageLevel.useMemory

False

In [70]:
#cache dataframe
df_cached=df.cache()
print("is_cache=",df_cached.is_cached)

is_cache= True

In [71]:
df.show(3,truncate=False)

+------------+-------+-------------------+-------+-----+
|RecordNumber|Country|City               |Zipcode|State|
+------------+-------+-------------------+-------+-----+
|1           |US     |PARC PARQUE        |704    |PR   |
|2           |US     |PASEO COSTA DEL SUR|704    |PR   |
|10          |US     |BDA SAN LUIS       |709    |PR   |
+------------+-------+-------------------+-------+-----+
only showing top 3 rows

In [72]:
df.storageLevel

StorageLevel(True, True, False, True, 1)

<img src="https://1.bp.blogspot.com/-d36kJGTjXlA/XskIMtb4NgI/AAAAAAAABWA/qjU2gEmStcYMVR8kkpl-WuirN65ogjpxQCLcBGAsYHQ/s1600/persist_type.JPG">

In [177]:
print(df.is_cached)

True

In [73]:
# improve persist and cache data
import pyspark
df_persist=df.persist(pyspark.StorageLevel.MEMORY_AND_DISK_2)

24/01/12 15:15:35 WARN CacheManager: Asked to cache already cached data.

In [74]:
df_persist.storageLevel

StorageLevel(True, True, False, True, 1)

In [75]:
df.unpersist()

DataFrame[RecordNumber: int, Country: string, City: string, Zipcode: int, State: string]

In [9]:
#remove the cached or persisted data
df.unpersist()

DataFrame[RecordNumber: int, Country: string, City: string, Zipcode: int, State: string]

## PySpark Broadcast Variables
https://sparkbyexamples.com/pyspark/pyspark-broadcast-variables/ <br>

In PySpark RDD and DataFrame, Broadcast variables are read-only shared variables that are cached and available on all nodes in a cluster in-order to access or use by the tasks. Instead of sending this data along with every task, PySpark distributes broadcast variables to the workers using efficient broadcast algorithms to reduce communication costs.

In [76]:
import os
print(os.getcwd())

/media/navneetsajwan/New Volume2/Data Engineering/Interview Prep stuff/spark_tutorial/Spark_RDD_Tutorial

In [77]:
# https://sparkbyexamples.com/pyspark/pyspark-broadcast-variables/
"""
Let me explain with an example when to use broadcast variables,
assume you are getting a two-letter country state code in a file 
and you wanted to transform it to full state name, (for example CA to California, NY to New York e.t.c)
by doing a lookup to reference mapping. In some instances, this data could be large
and you may have many such lookups (like zip code e.t.c).
"""


states = {"NY":"New York", "CA":"California", "FL":"Florida"}
broadcastStates = spark.sparkContext.broadcast(states)

print(broadcastStates.value)

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

rdd = spark.sparkContext.parallelize(data)

def state_convert(code):
    return broadcastStates.value[code]

columns = ["firstname","lastname","country","state"]

result = rdd.map(lambda x: (x[0],x[1],x[2],state_convert(x[3]))).toDF(columns)


result.show(truncate=False)

{'NY': 'New York', 'CA': 'California', 'FL': 'Florida'}

+---------+--------+-------+----------+
|firstname|lastname|country|state     |
+---------+--------+-------+----------+
|James    |Smith   |USA    |California|
|Michael  |Rose    |USA    |New York  |
|Robert   |Williams|USA    |California|
|Maria    |Jones   |USA    |Florida   |
+---------+--------+-------+----------+

## create dataset

In [2]:
# Dataset is not availabe in pyspark